@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply font-body bg-secondary text-slate-900 antialiased;
}

.container {
  @apply max-w-5xl mx-auto px-6;
}
